[2017-10-03 10:28] Judrummer opened #11 "Kakao use kotlin reflection api?"
I have found some error with RecyclerView when forgot to add itemType to KRecyclerView

[code]

On this snippet (In Views.kt line 176), when itemType not found, It will throw `kotlin.jvm.KotlinReflectionNotSupportedError: Kotlin reflection implementation is not found at runtime. Make sure you have kotlin-reflect.jar in the classpath` because we use qualifiedName.

Should we add kotlinReflection in

[2017-10-03 15:35] #11 closed, assigned to VerachadW

[2017-10-10 12:10] tiwiz opened #31 "Bundled support libraries"
Would it be possible to bundle latest support library versions, instead of 25.4.0? It would be awesome to import those from the project, if they are good enough.

[2017-10-10 13:09] Alviere commented on #31
I think we will put this in milestone for 1.1.0
For now, it should not be much trouble to exclude support libraries while importing it to your test dependencies.

[2017-10-12 11:03] cdsap commented on #31
Hi @tiwiz, thank you very much for your feedback.
As @Alviere said we have included this issue for the milestone 1.1.0, more feedback is welcome  :)

[2017-10-12 11:03] cdsap opened #35 "Integrate Intent Extensions"

[2017-10-12 11:04] cdsap opened #36 "Increase Coverage Core Kakao"

[2017-10-16 02:16] vacxe opened #39 "Snapshot upload to jCenter"

[2017-10-16 06:33] Alviere commented on #31
Issue is resolved, updated dependencies will be bundled in 1.1.0. Thanks for your contribution!

[2017-10-16 06:33] #31 closed

[2017-10-18 12:16] Chesteer89 opened #41 "KAdapterItem with multiple layout types"
Hi guys!

Is it possible to "ignore" some fields in KAdapterItem? I mean could it be nullable (and don't throw exception) when matching view is not found?

The problem is, i've got ListView with multiple view types, some contain TextView, some do not. I'd like to run some methods on them, like:

[code]

[2017-10-18 14:43] Alviere commented on #41
Hi there!
For this kind of situation, you need to define your types of list items.
Just extend `KAdapterItem` (you can see how to do it in samples/readme.md) and specify views that this item contains. Then in your `KListView` provide all of your item types. After that simply use typed functions `childAt<YourItemType> { /* here you can access to views of specific item type */ }`. I'll provide an ex

[2017-10-19 05:49] Chesteer89 commented on #41
Hi!

Thanks a lot! I already tried to pass more types but separated with comma :+1:

[2017-10-19 06:19] Alviere commented on #41
You are welcome!
Anyway, I believe this problem is solved, so I'm closing this issue.
Thanks for using our library!

[2017-10-19 06:19] #41 closed

[2017-10-19 08:41] Chesteer89 opened #42 "ListPopupWindow and Toast intergation"
Hi guys!

First of all - thanks for your work!
Can you take a look on KToast and KListPopupWindow and give me some hints (maybe it's just an overkill and it could be done with KView and KListView?

https://gist.github.com/Chesteer89/767ad1b1584e2920a9758bd1dfe95b36
https://gist.github.com/Chesteer89/d6bfe7383c287935ce938e9dfa98c0a1

[2017-10-19 09:18] Alviere commented on #42
Hey there! Thanks a lot for your interest in our project.
Regarding your question: it can be done via `KView` and `KListView`. We have `inRoot()` function located at `BaseAssertions`.
And we have `RootBuilder` class which helps you to perform this kind of checks.

Take a look at the example:
[code]

[2017-10-19 09:42] Chesteer89 commented on #42
Are you sure we're able to get list in popup?
What kind of matcher should i pass in Screen? (id is not set, withClassName doesnt work, withAnyText matches multiple views)

[2017-10-19 09:48] Alviere commented on #42
You can try using `isInstanceOf` matcher for your list. And are you sure that list doesn't have an id?

[2017-10-19 09:49] Alviere commented on #42
Also you can match the list by matching it's items with use of `withDescendant`

[2017-10-19 09:58] Chesteer89 commented on #42
Well, yes. We're using ListPopupWindow which doesnt have an id on list (contains DropDownListView). So the idea is to find a popup first (the real diff is **inAdapterView(matcher)** changed to **inRoot(RootMatchers.isPlatformPopup())**).

Toast is similiar story. That's why I've changed view to:
`override val view = this.builder.getViewInteraction().inRoot(ToastMatcher())`

[2017-10-20 03:58] Alviere commented on #42
For toast, as I said previously, you can declare a view with text matcher, for example, and then immediately apply root matcher:
[code]
This will return you the KView with view interaction inside, which already has root matcher.

Regarding ListView situation, I think we should ask someone else. @cdsap @VerachadW what do you guys think on this?

[2017-10-20 04:21] VerachadW commented on #42
@Chesteer89 You may try to send the matcher for `list` with the parent matcher. The popup needs to anchor with the view or the screen window. So, I think we can create a matcher for the parent view and pass it to `withParent()` for `list`. This is my idea.

[2017-10-20 05:55] Alviere commented on #42
We already have `withParent` matcher inside `ViewBuilder` class.

[2017-10-20 12:01] Chesteer89 commented on #42
Thanks guys! Optional parameter or `withParent()` sounds good.

I'll migrate to new version after update :)

Did you think about Snackbar tests? Is it possible right now or should i write my custom view + actions?

[2017-10-27 02:54] Alviere commented on #42
No, right now we don't have prebuilt view classes for that, but this is good idea, to make `KSnackBar` and `KToast`. Is this issue resolved?

[2017-10-30 09:38] #42 closed

[2017-10-31 08:32] #39 closed

[2017-11-02 03:07] vacxe opened #46 "Modify branch CI checks"
Please remove one of checks `ci/circleci`
https://circleci.com/docs/2.0/workflows-waiting-status/

[2017-11-02 03:10] #46 closed

[2017-11-03 12:02] ghostbuster91 opened #47 "Add support for components from support design library"
It would be good to have support for components from android-support-design library.
Below is a list of actions/assertions which I found missing:
- TextInputEditText
  - has hint
  - has error
- NavigationDrawer
  - open/close
- SwipeRefreshLayout
  - swipeToRefresh
  - isLoading

Also it would be good to know how to interact with snackbar.

[2017-11-03 13:51] Alviere commented on #47
Hi there and thanks for taking part in evolving our library!

NavigationDrawer is already supported. We have `KDrawerView` for that. It has `open` and `close` functions.
For SwipeRefreshLayout right now we don't have specific class, but for now you can use `KSwipeView` and call `swipeDown` function on it.
TextInputEditText and Snackbar right now are not in the library, but we are working to bring

[2017-11-13 10:12] 0v3rt1r3d opened #56 "Cannot click on item in RecyclerView"
Hi! I've some problems with the KRecyclerView. Every item in a recycler contains a linear layout with two or three TextViews. All I need is to click on item which contains a particular text. How can I do that?
[code]
Both variants throw ``NoMatchingViewException``, but I see in the stack trace that the view with the text is contained in the recycler.

[2017-11-13 10:43] Alviere commented on #56
Hey there! Thanks for your interest in Kakao
First of all, if you want to match some specific item, you have to use `childWith` function.
Second, `childWith` matches the root view of your RV item, and if you need to match item by it's child view, you need to specify it like that:
[code]
You can also use our extension function `emptyChildWith` if you don't want to cast this item to any specific cla

[2017-11-13 11:24] 0v3rt1r3d commented on #56
Yeah! I used ``childWith``, but copied another piece of code. Your answer helped me, thank you!

[2017-11-14 06:03] Alviere commented on #56
Great, then I'm closing this issue.

[2017-11-14 06:03] #56 closed

[2017-11-16 07:29] Alviere commented on #47
Hello again! We're almost ready to release version `1.1.0`
In this version, you will have access to `KInputTextLayout`, `KNavigationView` and `KSwipeRefreshLayout` as well as `KSnackbar` which should cover your needs.
Thus, I'm closing this issue and hope that you will find this update very useful. Happy testing!

[2017-11-16 07:29] #47 closed

[2017-12-16 13:34] ripzery opened #62 "Add seekbar support"

[2017-12-17 11:59] Alviere commented on #62
Hello there! Thank you for the submission, we will definetely add support for this widget in a minor release. Please stay tuned until then.

[2017-12-18 01:03] ripzery commented on #62
Thank you!

[2017-12-18 07:37] Alviere commented on #62
Actually, looking through Android SDK sources, `SeekBar` is a descendant of `ProgressBar`. So, there's need for adding a dedicated class. `KProgressBar` will do the job. Still, we might consider adding simulation of manual thumb dragging

[2017-12-18 15:22] jschamburger opened #65 "Typo in Assertions"
Hi,

we just started using Kakao and it significantly improves the readability of our UI tests - thanks for that!
We noticed a small typo in method https://github.com/agoda-com/Kakao/blob/master/kakao/src/main/kotlin/com/agoda/kakao/Assertions.kt#L209. The function is called `doesNotExists` while the respective Espresso method is calls `doesNotExist`.
The two methods should have the same name to a

[2017-12-18 15:34] cdsap commented on #65
Hi,
thanks, we are planning to release a new version this week, we'll include the typo.

[2017-12-18 15:39] jschamburger commented on #65
That's great, thanks for the quick response!

[2017-12-19 07:50] Alviere commented on #65
Fixed. Thanks for pointing out!

[2017-12-19 07:50] #65 closed

[2017-12-19 07:51] Alviere commented on #62
Support added. Hope it will work for you. Have a nice testing time!

[2017-12-19 07:51] #62 closed

[2017-12-19 07:51] Alviere commented on #35
Intent support added. Closing this issue.

[2017-12-19 07:51] #35 closed

[2017-12-19 08:14] Unlimity opened #69 "Refactor current code base"
We have segregated all current code in several files, and these files are becoming really huge.
We need to separate these files. I propose following:
 - Keep each view class and it's actions and assertions interfaces in separate files
 - Move `Builders.kt` classes to `com.agoda.kakao.builder` package and separate by class name
 - Move `Matchers.kt` classes to `com.agoda.kakao.matcher` package and

[2018-01-17 13:12] uziassantosferreira opened #71 "Support AlertDialog"
Is it possible add support to dialog?

[2018-01-18 04:43] Alviere commented on #71
Hello there!
You can always access your dialog using `KView` and `isDialog` root matcher.
We might consider adding support for standard `AlertDialog` though in the upcoming releases.
Thanks for pointing out!

[2018-01-18 15:01] uziassantosferreira commented on #71
Thanks 👍

[2018-01-26 09:05] JolandaVerhoef opened #72 "Add ViewMatcher withContentDescription with resource identifier instead of String"
Currently it's only possible to match using a String content description. I think

#### Steps to reproduce:

  1. Try to match a view based on it's content description id

#### Observed Results:

  * Compile error: Pass String instead of int

#### Expected Results:

  * Would like to be able to match on id, so that localisation doesn't give problems

#### Relevant Code:

[code]

[2018-01-26 10:07] VerachadW commented on #72
Hi, @JolandaVerhoef Thanks for submitting the issue. We will look into this or If you can submit the PR for it. We would really appreciate it. ^^

[2018-01-26 12:21] JolandaVerhoef opened #74 "pressImeAction fails because view "is a root view""
The accompanying `ViewActions.pressImeActionButton()` runs correctly.

I created a branch to demonstrate the issue, see https://github.com/JolandaVerhoef/Kakao/commit/77c192a24575be861aba7ed921832824904a651a

#### Observed Results:

  * Failing test when trying to run `pressImeAction`

#### Expected Results:

  * I would expect it to run correctly

[2018-01-29 05:29] Alviere commented on #74
Hello there. Thank you for your contribution!
I've found the root cause, and the fix is ready at #75 and will be included in upcoming minor release.
Take care!

[2018-01-29 08:49] #72 closed

[2018-01-30 05:30] Alviere commented on #74
Fixed. Closing this issue.
Thanks again for pointing that bug out, @JolandaVerhoef !

[2018-01-30 05:30] #74 closed

[2018-01-30 10:01] Alviere opened #77 "Add DslMarker annotations"
To improve experience of writing tests, we need to correctly annotate all classes that we have with corresponding `@DslMarker` marked annotations.
This will allow auto-completion and compiler implicitly infer receiver inside DSL call stack thus making usage of Kakao more easier and pleasant.

[2018-02-06 16:33] jkaan opened #78 "Add hasTextColor text view assertion"
I wanted to test that my text view had a specific color or not. I saw that Espresso has a matcher for this called [hasTextColor](https://developer.android.com/reference/android/support/test/espresso/matcher/ViewMatchers.html#hasTextColor(int)).

Kakao does not yet have a wrapper for this.

[2018-03-07 07:52] lowwor opened #83 "Question about the minSdkVersion"
Any particular reason for using the minSdkVersion =16, because our project is using a minSdkVersion 14 and have some history problem to remain it there. It would be lovely that we can decrease it to 14, thank you.

[2018-03-07 08:33] Alviere commented on #83
Hi there!
There's no particular reason to have it.
But I personally want to encourage the developers and community not to stick with legacy versions of Android.
If you really need to decrease `minSdkVersion`, contributions are welcome!

[2018-03-07 12:44] lowwor commented on #83
I agreed, but our product manager don't think so. ╮(╯▽╰)╭. Pr submitted to use this great repo, see #86.

[2018-03-09 04:31] #83 closed

[2018-03-11 15:38] Cotel opened #87 "Cannot click items in nested RecyclerViews"
#### Steps to reproduce:

This is my `Screen` definition:

[code]

And this is the assertion I am trying to do:

[code]

#### Observed Results:

The following exception is thrown:

[code]
Could this be because I cannot set `parent` to the nested `KRecyclerView` at `CategoryItem`?

[2018-03-12 04:46] Alviere commented on #87
Hmmm... not sure, but this should work fine, since internally Kakao only generates matchers.
But I see that you use `perform` function. Please remember, that this one is infix, thus requires both left and right operands. It probably breaks your flow of test. `perform` is used when you match some view dynamically and want to perform some actions on it right away. Example:

[code]

Here's on left si

[2018-03-12 08:16] #78 closed

[2018-03-12 08:16] Alviere commented on #78
PR merged. Thanks for the contribution!

[2018-03-12 12:04] Cotel commented on #87
Removing `perform` results in the same exception `NoSuchMethod` 😅

[2018-03-13 04:08] Alviere commented on #87
Ok. Then we need to investigate. I will return later with the results.

[2018-03-15 08:24] Alviere commented on #87
Maybe I found a problem here.
Your `platesList` is a `RecyclerView` inside an item of another `RecyclerView`, right?
But you do not match this recycler with parent recycler matcher.
Try to replace your declaration with this:

[code]

If this works, I'll prepare PR and add additional constructor that will allow to pass parent matcher as argument when building `KRecyclerView` and `KListView`.
Actual

[2018-03-15 09:42] Cotel commented on #87
I've added `isDescendantOfA` but still isn't working with the same exception.

[2018-03-15 09:48] Alviere commented on #87
Ok, keep investigating

[2018-03-15 10:19] Alviere commented on #87
So, I made a PR with testing of nested recycler views #89 and the test works.
My final guess is that in nested recycler view is actually a root view of it's parent recycler view.
If so, `parent: Matcher<View>` that is passed inside the item constructor is actually a matcher of the item's root view.
I might suggest you to match it like that:

[code]

Please report back with the results

[2018-03-15 10:25] Alviere commented on #87
Also, as the error is `NoSuchMethodException` in Espresso class, please verify that your project do not override Espresso version. Kakao is using `3.0.1`. You can check your dependency tree by executing `./gradlew :your_module:dependencies`

[2018-03-15 17:10] Cotel commented on #87
It was the Espresso version, I was using an outdated one. Thank you very much and keep up the good work 👍

[2018-03-16 06:26] Alviere commented on #87
Great! Closing the issue then

[2018-03-16 06:26] #87 closed

[2018-03-20 13:04] michalkierasinski opened #90 "WithIndex is not working properly"
#### Steps to reproduce:

  1. Create a layout with views with the same id
  2. Write a simple test using withIndex method
  3. Execute test

#### Observed Results:

Error message - Espresso could not found a matching view.

`android.support.test.espresso.NoMatchingViewException: No views in hierarchy found matching: (0th view with: (with id: com.agoda.sample:id/input_layout))`
#### Expected Resul

[2018-03-21 04:14] Alviere commented on #90
Thank you for the report!
We will investigate it in the coming days.

[2018-03-22 04:21] Alviere commented on #90
I found the issue in your sample.
The problem is that `withIndex` matcher is one-time use only. After it matches item, it is no longer usable.
You can make it dynamic though. Modify your `InputScreen` class in attached sample:
[code]
Hope this will help you.

[2018-03-22 08:00] michalkierasinski commented on #90
Your solution does not work. I get the same error: `No views in hierarchy found matching: (1th view with: (with id: com.agoda.sample:id/input_layout))`.

Every invocation executes the same `withIndex` matcher.

[2018-03-22 08:14] michalkierasinski commented on #90
Ok, now it is working. Thanks for the help.

[2018-03-22 08:37] Alviere commented on #90
You're welcome. Closing this issue then.

[2018-03-22 08:37] #90 closed

[2018-03-27 10:45] atetc opened #93 "RecyclerView/ListView count matcher"
Can we have a beautiful option for checking number of RecyclerView/ListView items?

Smth like:
[code]

[2018-03-28 06:04] atetc opened #95 "RecyclerView inside ListView/RecyclerView verifying"
Can't check the item (RecyclerView) inside ListView, because right now KRecyclerView doesn't have an interface for providing a parent.

[code]

[2018-03-28 06:09] Alviere commented on #95
I will pick up this issue, thanks for reporting.

[2018-03-28 09:30] #95 closed

[2018-04-17 04:10] #93 closed

[2018-04-25 15:35] rasfra opened #99 "Is it possible to use RecyclerViewItems that have no container layout?"
#### Steps to reproduce:

  1. Create a RecycleView with a layout containing only a single element
[code]
  2. Setup a KRecyclerView with an item containing only someView

[code]
  3. Try to use it

[code]

#### Observed Results:

android.support.test.espresso.NoMatchingViewException: No views in hierarchy found matching: (is descendant of a: (view holder at 0 position of recycler view: (with id:

[2018-04-26 05:46] Alviere commented on #99
Hello there!
Actually, the `parent` that you are retrieving here is actually a matcher to the holder top view (container) itself. So, if you want to do something with it, use is as matcher of the view, not parent.
Here's your reworked sample:
[code]
Hope this helps. Cheers!

[2018-04-26 05:57] rasmusfranke commented on #99
Ahh that makes sense, thanks a lot!

[2018-04-26 05:59] Alviere commented on #99
Glad to hear that! Then the issue is solved, closing it.
Happy testing!

[2018-04-26 05:59] #99 closed

[2018-05-01 21:37] Zhuinden opened #100 ""fun isNotRefresing() {""
Your method name has a typo.

[2018-05-02 03:01] cdsap commented on #100
@Zhuinden thanks for the heads up. PR created

[2018-05-02 03:56] Alviere commented on #100
Thanks for pointing out!
PR with fix is merged. Cheers!

[2018-05-02 03:56] #100 closed

[2018-05-21 09:53] #77 closed

[2018-06-01 16:14] ricardorlg opened #105 "Error with click on tabs"
More Than a bug is a question, Im creating a Kview in a tab with this code,
` KView {
            withParent { withClassName(endsWith("TabView")) }
            withText(sectionName)
        }` after that I perform a scrollTo and a click, this actions happens but then I get an error `Error performing 'single click - At Coordinates: 922, 272 and precision: 16, 16' on view '(has parent matching: (wit

[2018-06-11 07:39] Unlimity commented on #105
Hey there!
Can you please provide the full stacktrace of your issue? Since this message does not tell the real reason of execution failure.

[2018-07-22 03:13] atetc commented on #93
🖐

[2018-07-24 16:57] audkar opened #109 "Support for AndroidX Espresso"
#### Steps to reproduce:

  1. Replace support lib Espresso dependency with AndroidX one
[code]
  2. Write test which with `click()` assertion. e.g. `screen.button.click()`

#### Observed Results:

 Compiler error:
`Cannot access class 'android.support.test.espresso.action.GeneralLocation'. Check your module classpath for missing or conflicting dependencies`

#### Expected Results:

 Test code sho

[2018-07-25 07:08] VerachadW commented on #109
Hi, @audkar. We will migrate to AndroidX when it moves out from the alpha release. We don't have the plan to create a new artifact right now.

[2018-07-31 09:29] alorma opened #110 "KRecyclerView multiple childs assert not success"
#### Steps to reproduce:

  1. Build `Screen` with recycler view
  2. On your code, set more than one item at recyclerview adapter
  3. Try to do assert with more than one children

#### Observed Results:

https://gist.github.com/alorma/4b2cf664f6f92c6ba4f9abc8416c335e

[code]

As you can see, the item shows a   `****MATCHES****`

#### Expected Results:

Two assertions success, as you can see, the

[2018-07-31 14:12] ashdavies commented on #42
I'm currently trying to achieve the same thing here with an `AutoCompleteTextView` suggestion matcher (`PopupWindow`/`DropDownListView`), did you manage to find a resolve using `withParent()`?

[2018-08-01 05:49] Unlimity commented on #42
Hi there!
The thing is, right now this behavior is not achievable due to specifics of these classes. `PopupWindow` and `Toast` actually create new `Window` instance when they show up. And espresso is explicitly bound to your activity's window with `ViewRootImpl` inside. It cannot access other windows through instrumentation.

[2018-08-01 05:49] Unlimity commented on #42
We added `KSnackBar` support though.

[2018-08-01 05:51] Unlimity commented on #110
That is truly unexpected behavior. Can you share with us the version of Kakao you're using?

[2018-08-01 07:25] alorma commented on #110
kakaoVersion = "1.4.0"

[2018-08-01 08:08] Unlimity commented on #110
Thanks! I will investigate issue in when I will have free time. But for starters it seems that `lastChild` extension function's matcher is not matching correctly. You can try replacing this call with `childAt<AddressItem>(size() - 1) {` to see if there is any difference.
Cheers!

[2018-08-02 13:45] ashdavies commented on #42
My understanding is that you could use:
[code]
for an autocomplete item?

I'm just not quite sure how to integrate that with a `KListView`, or if at all it's possible to do so at the moment.

[2018-08-03 04:29] Unlimity commented on #42
As I recall, we have root matching.
So you can match your `KListView` by any means comfortable to you (by id, by class name, by searching through parent class name, etc.) and then apply root matcher during your actions/assertions:
[code]

[2018-08-03 08:17] ashdavies commented on #42
Yep, but the difficulty is creating `list` in our `Screen<T>` class, the suggestion was to use `withParent` and `isRoot`, but I've not had much success, what might be a way of selecting it?

[2018-08-03 10:50] Unlimity commented on #42
[code]

[2018-08-03 12:15] ashdavies commented on #42
That's what I've tried, but I'm getting a `NoMatchingViewException` 😞

[2018-08-04 09:27] Unlimity commented on #42
Can you provide the dumps of layouts when you open your popup and the results of `adb shell dumpsys window windows` and `adb shell dumpsys activity`?

[2018-08-04 09:35] Unlimity commented on #42
Also, what exact class do you use to spawn your popups?

[2018-08-07 04:52] Unlimity commented on #42
I looked through the source code, and your view uses `ListPopupWindow` class inside, which uses `DropdownListView` class (not appcompat). So I would try to match by exact class name, not by parent class name.

[2018-08-07 09:25] ashdavies commented on #42
Tried by class name also, the issue seems to be that the view hierarchy dumped with `NoMatchingViewException` is that of the activity window, which doesn't display the `DropDownListView` or the popup decor view, I've tried tweaking with `withParent`, `inRoot` to no avail 😞

[2018-08-07 10:30] Unlimity commented on #42
Can you provide your screen class and test code where you try to access your list?

[2018-08-14 07:24] cdsap opened #113 "Update Readme to specify the use of the artifact for androidx"

[2018-08-14 08:53] Unlimity commented on #113
Merged

[2018-08-14 08:53] #113 closed

[2018-08-14 09:21] #109 closed

[2018-08-21 15:18] ashdavies commented on #42
Sorry for the delay, I didn't see the notification
*Screen*
[code]

*Test*
screen {
  list {
    inRoot {
      isPlatformPopup()
    }
    firstChild<FinanceCalculatorScreen.Item> {
      perform {
        click()
      }
    }
  }
}

[2018-08-22 04:14] Unlimity commented on #42
Hey there!
Try removing this:
[code]
I'm not sure that your list view is a direct descendant of platform popup view.

[2018-08-22 11:51] ashdavies commented on #42
Still get a `NoMatchingViewException`, would it help if I submitted a PR to the samples with the problem I'm trying to solve?

[2018-08-23 05:46] Unlimity commented on #42
I just noticed. `isInstanceOf<ListView>()` is very weird. Kakao doesn't have that function. Kakao's function signature is `isInstanceOf(clazz: Class<*>)`. It's not templated.

[2018-08-23 08:05] ashdavies commented on #42
@Unlimity yep sorry this was an extension function in our code base, just an inline reified alias to Kakao's method

`inline fun <reified T> ViewBuilder.isInstanceOf(): Unit = isInstanceOf(T::class.java)`

[2018-08-23 08:58] Unlimity commented on #42
Hm, I don't actually know how to help you now :(
Could you make a public repo with simple activity and test that reproduces your problem?

[2018-09-03 15:29] ashdavies commented on #42
@Unlimity Hey! I've created a sample so you can see what I'm trying to achieve

[2018-09-06 04:00] Unlimity commented on #42
Sure, I'll take a look as soon as I have free time

[2018-10-05 03:03] petrsvobodnikspider commented on #71
Hello, can provide an example how to use Root matcher with KView? There is no way how to provide view interaction when creating view

[2018-10-05 04:47] Unlimity commented on #105
Closing this issue due to no response.

[2018-10-05 04:47] #105 closed

[2018-10-05 04:48] Unlimity commented on #110
Hi there! I'm very sorry that I didn't have any time lately to look into your issue. Have you managed to resolve it yourself by any chance?

[2018-10-05 04:48] Unlimity commented on #71
Hi there. There's a lot of examples of that in a different topics.
Anyway, here it is:
[code]

[2018-10-07 19:32] petrsvobodnikspider commented on #71
Ohh I see, thank you so much

[2018-10-19 04:50] minibugdev opened #116 "Cannot scroll to view in NestedScrollView"
#### Steps to reproduce:

Define layout with NestedScrollView
[code]

And scroll to view by `scrollTo()`
[code]

#### Observed Results:
[code]

[2018-10-19 06:35] Unlimity commented on #116
Hello there! Can you provide more info? Stacktrace at least?
And by the way, your button in provided example is named `snackbarButton`. Are you actually calling snackbar? If so, snackbar is added to your root view and there is no need to scroll to it. Also please provide your screen class, maybe matching is wrong.

[2018-10-19 12:30] minibugdev commented on #116
Hi, sorry to have confused you.
I have try to scroll to button, which inside `NestedScrollView` and click it
and lastly assert `SnackBar` should display

Updated code as below
**Layout**
[code]
**Screen**
[code]

**Test**
[code]

But have an error
[code]

[2018-10-22 04:03] minibugdev commented on #116
I resolved by create custom action like
[code]

and use `act` for perform it
[code]

Anyway, I'm not sure this is good enough solution for make a PR.

[2018-10-22 04:04] minibugdev commented on #116
I resolved by create custom action like
[code]

and use `act` for perform it
[code]

Anyway, I'm not sure this is good enough solution for make a PR.

[2018-10-22 04:12] minibugdev commented on #116
I resolved by create custom action like
[code]

and use `act` for perform it
[code]

Anyway, I'm not sure this is good enough solution for make a PR.

[2018-10-22 07:42] Unlimity commented on #116
Maybe the problem was with how you matched your button. It is possible that you need to match your button as a child of nested scroll view in your screen class. Cheers!

[2018-10-30 04:29] #116 closed

[2018-11-06 14:46] dsceinos commented on #110
Hi, I'm getting the same @alorma 's error.

**Output:**
https://gist.github.com/dsceinos/43df91092dc9cd5e217cd1e156ae2a26

**Code:**
` screen {
            bundlesRecycler {
                hasSize(2)
                childAt<Screen.Item>(0) {
                  titleTextView { containsText(item1.description) }
                }
                childAt<Screen.Item>(1) {
                   titleTextV

[2018-11-07 04:29] Unlimity commented on #110
Can you please provide your screen class source?

[2018-11-07 04:33] Unlimity commented on #110
I saw your exception, and the matcher does not matching recycler view as your item's parent. My guess here is that you haven't declared your item class correctly.

[2018-11-07 09:06] dsceinos commented on #110
I've recheck item declaration and I found that I forgot to add item's view constructor with `parent` parameter.
Thanks!

[2018-11-07 09:28] Unlimity commented on #110
Nice. I suppose @alorma had same problem, so I'm closing this issue.

[2018-11-07 09:28] #110 closed

[2018-11-14 03:33] pokk opened #118 "Add KSpinner view component and related functions"
Kakao is an awesome library for reducing our test code. I'm using Kakao for testing my project but there's no spinner component to test spinner.
Instead of using Kakao KView, I just can use original `onView` or `onData` to implement test code.

I have a few functions as the following below

[code]

If there is any function should be added, please let me know.

[2018-11-14 03:51] Unlimity commented on #118
Hey there!
Thanks for reaching out! I will look if there's anything we can do when I have free time. As I recall, spinner uses another window to show the selection options, so I'm not sure that we can easily implement it as part of Kakao. But I will try. Cheers!

[2018-11-14 06:37] pokk commented on #118
Thank you for your replying.

Just make sure this function is necessary or whether someone is working on it. If no one is working on it currently, I can implement it! 👍
I'll send PR after I finish.

[2018-12-12 08:16] whalemare opened #121 "Add Matcher withTag(tagValue)"
Hello, thanks for your library.
Can you add function for find views by it tag, for better testing-developer experince :))

For now, if you want find view by tag you need write code like this:
[code]

It would be great to reduce this code to:
[code]

Thanks!

[2018-12-12 10:00] Unlimity commented on #121
Matcher is added and already merged to master!
Happy testing!

[2018-12-12 10:00] #121 closed

[2019-01-02 19:49] ateek commented on #109
@cdsap  thanks for the effort. any news about publishing the artifact.

[2019-01-03 03:34] Vacxe commented on #109
@ateek I suppose that I could finish it in couple days. And sorry for delay.

[2019-02-12 18:58] psh commented on #69
Given that you have this issue slated for a `2.0` release, and major version changes can introduce breaking changes to an API, I went ahead and broke apart the monolithic files and first of all packaged them by layer / function (assertions, actions, views, etc) as you suggest, albeit with slightly different naming.  [commit](https://github.com/psh/Kakao/commit/e199233b5f9b42e706432fb4612fddef2a16e

[2019-02-13 04:26] Unlimity commented on #69
@psh we are more than interested in any contribution. So drop your PR and let's review! Maybe this is what we need to kickoff 2.0 and move to AndroidX support libs as well.

[2019-02-18 09:12] Ulman95 opened #125 "Wrong @DslMarker annotations"
Hi guys!
I have some problem

Right now i can write something like that
[code]
This code is totally wrong
The construction does not make sense (the list in the same list in the same list checks something there and 2 more levels of checks). This is impossible to create in a real ui

This is because the kakao dsl used different `@DskMarker` annotations
I think you should choose one marker annotation

[2019-02-18 09:54] Unlimity commented on #125
Hi! Thank you for submitting the issue!
I will look into it and see how we can improve.
Maybe I misunderstood the Kotlin docs and samples on this topic

[2019-02-18 10:25] Unlimity commented on #125
I revisited the Kotlin docs and you're right. Scope is getting limited only if enclosing receivers are marked with the same `DslMarker` annotation. We will fix that right after big refactor PR is merged. Thanks again!

[2019-02-18 21:01] Unlimity commented on #69
Finally closed!

[2019-02-18 21:01] #69 closed

[2019-02-20 13:13] matzuk commented on #125
Hi, Ilya! @Unlimity
You wrote that your team is working on big refactoring. Can you share info what refactoring you are doing? We have some minds about the development of Kakao. Maybe we will sync?

[2019-02-20 13:16] cdsap commented on #125
HI @matzuk,
this is one of the PR recently merged https://github.com/agoda-com/Kakao/pull/124

[2019-02-20 13:26] matzuk commented on #125
@cdsap Thanks!
And what else? Is there some roadmap of refactoring?
Can @Ulman95 do PR to Kakao? Or he needs to wait for other changes?

[2019-02-20 13:42] cdsap commented on #125
@Unlimity can you confirm please ?

[2019-02-20 14:12] Unlimity commented on #125
@matzuk sure. Right now, the only changes left to make before 2.0 release is fix this dsl marker bug, upgrade dependencies and Kotlin version. Let's see what @Ulman95 got for us 👍

[2019-02-21 06:29] #125 closed

[2019-02-22 04:48] Unlimity opened #130 "AndroidX migration"
Prior to releasing 2.0 we need to decide how we want to go with the androidx artifacts. The popular opinion I heard is to make a branch at current state and release it as `2.0.0-support`, migrate master branch to androidx and release it as `2.0.0`.

What are your thoughts on this?

[2019-02-22 07:12] cdsap commented on #130
I'm agree with the approach of `2.0.0-support` and `2.0.0`

[2019-02-25 10:36] Unlimity commented on #130
Done 👍

[2019-02-25 10:36] #130 closed

[2019-03-10 07:38] romanpozd-tg17 opened #134 "Get view matcher from screen context"
Hey,
I trying to refactor tests written with Espresso to Kakao
Can't figure out how to refactor this line.
   `onView(titleTextMatcher).check(isCompletelyAbove(googleBtnMatcher))`

Tried something like that.. but isCompletelyAbove() expect to receive googleButton matcher that I can't retrieve.

        signinScreen {
            googleButton {}
            title {
                isCompletelyDispl

[2019-03-10 09:43] cdsap commented on #134
Hi @romanpozd-tg17  Thanks for using Kakao.
`isCompletelyAbove` is a ViewAssertion not included in the Kakao lib.

Kakao offers the possibility to define custom assertions through:
[code]

so you can implement it like
[code]

@Unlimity let me know if you want I open a PR including this new PositionAssertion `isCompletelyAbove`

[2019-03-11 16:22] Dimezis opened #135 "Can't be called in this context by implicit receiver"
On a new 2.0.0 AndroidX version of the lib, the following code gives a compilation error:
`val lol Can't be called in this context by implicit receiver. Use explicit one if necessary`

[code]

It is fixable by adding `this@ClassName.lol` to a `lol` val.
But I'm kinda missing what has changed since 2.0.0 that I can't use an implicit receiver anymore.
I have dozens of similar cases using the `ViewBu

[2019-03-12 06:52] romanpozd-tg17 commented on #134
@cdsap @Unlimity Thank you guys!

[2019-03-12 06:57] Dimezis commented on #135
Got it. Thank you for clarification.

[2019-03-19 10:53] Unlimity commented on #134
@romanpozd-tg17 the feature has been added and will be available in the next release. Closing this issue. Thank you for reaching out!

[2019-03-19 10:53] #134 closed

[2019-03-19 10:54] Unlimity commented on #135
Closing this issue as the questions has been answered.

[2019-03-19 10:54] #135 closed

[2019-03-22 15:46] ahampe opened #137 "DrawableMatcher should correctly match provided Drawable objects"
#### Steps to reproduce:

  1. Attempt to match a drawable in a screen with `hasDrawable(@DrawableRes resId: Int)` and observe test success.
  2. Attempt to match same drawable with `hasDrawable(drawable: Drawable)`, passing in a loaded drawable from the previous resource ID. The test will fail.

#### Observed Results:

Failure with exception `android.content.res.Resources$NotFoundException: Resou

[2019-03-22 15:51] ahampe commented on #137
I forked the project and have a branch with this fix, plus relevant tests. Should I put in a PR?

[2019-03-23 10:50] cdsap commented on #137
@ahampe thanks for the interest.
Sure, you can create a PR

[2019-04-02 03:15] Unlimity commented on #137
Fix is merged. Closing this issue.

[2019-04-02 03:15] #137 closed

[2019-04-02 03:16] Unlimity commented on #36
I'm not sure this is gonna happen anywhere in the future and we still couldn't figure out how to do unit tests on this. So let's close.

[2019-04-02 03:16] #36 closed

[2019-04-04 11:15] georgyR opened #139 "Kakao view for ScrollView"
Now there is no KScrollView

[2019-04-05 05:02] Unlimity commented on #139
Hi! First of all, thanks for reaching out.
But I don't recall that there were `KScrollView` in Kakao in the first place.
Can you tell me which version of Kakao had it?
Or I misunderstood your sentence and you want to request such feature?

[2019-04-05 07:22] georgyR commented on #139
Hi. Yes, I want ScrollView supporting. Thank you for fast reaction and PR

[2019-04-12 07:18] Unlimity commented on #139
Component is merged. Closing this issue.

[2019-04-12 07:18] #139 closed

[2019-06-12 00:25] Vacxe opened #144 "Add Detekt lint check"
Add fuctionality
- [ ] Detekt to CI pipeline
- [ ] Studio code style

[2019-06-18 03:58] Vacxe opened #147 "Label support for CI"
Add job for checking current PR labels and prioritise execution on CI

[2019-07-03 06:26] Unlimity opened #151 "Add KDatePicker view"
Right not `DatePicker` from Android SDK is not supported by Kakao.
We need to add `KDatePicker` class to Kakao and add support for basic operations (like set date, get date, etc.)

[2019-07-05 05:58] Vacxe commented on #151
@Unlimity I will do it

[2019-07-10 23:55] Vacxe commented on #151
Close: #156

[2019-07-10 23:55] #151 closed

[2019-07-26 01:25] Vacxe commented on #71
@uziassantosferreira @petrsvobodnikspider wanna let u know that this feature will be implemented by me ASAP

[2019-07-30 02:30] Vacxe commented on #71
@olegosipenko FYI

[2019-08-02 03:17] #71 closed

[2019-09-18 08:14] lewiemortier opened #163 "Unable to click on a view inside a recyclerview viewholder"
#### Steps to reproduce:

  1. Add a screen with a recyclerview
  2. Add a viewholder with a button to the recyclerview
  3. In the tests, go to the screen
  4. Get the first item inside the recyclerview
  5. Click on the button of the first item inside the recyclerview

#### Observed Results:

  * Instead of clicking on the button, the test runner clicks on the viewholder itself

#### Expected Re

[2019-09-18 10:03] Unlimity commented on #163
Hi!
You forgot to pass parent to your `moreOptions` view. Here's how it should be declared:
[code]

[2019-09-24 10:30] v-rodionov opened #164 "KTextInputLayout depends from TextInputEditText"
Hi, we got a problem :)

In our layout files we have something like

        <com.google.android.material.textfield.TextInputLayout>
            <androidx.appcompat.widget.AppCompatEditText />
        </com.google.android.material.textfield.TextInputLayout>

In test

[code]

#### Expected Results:

  Test passed

#### Actual Results:

androidx.test.espresso.NoMatchingViewException: No views in hie

[2019-09-25 04:40] Unlimity commented on #164
Hi! Thank you for reaching out.
As per the Google's documentation, the intended use of `TextInputLayout` is with `TextInputEditText` or it's descendants, since it gives you access to proper behavior and accessibility services.
Although it is possible to just reference the `EditText`, I'm not sure this is the best approach.
But anyway, you can submit a PR and resolve the issue.
But please make sure

[2019-09-27 01:10] Vacxe commented on #164
@v-rodionov I think at first you can try to change your codebase with ```TextInputEditText``` and if the behaviour will be the same I think it can solve this issue.

[2019-09-27 01:12] Vacxe commented on #163
@lewiemortier let us know please does it solve the issue?

[2019-09-27 09:05] sebastienrouif commented on #99
@Unlimity I ran into the same problem, would it be worth adding an example in the sample, I have two places in mind :
 - in the current recyclerView example (but it might make it complex to approach)
 - as new recyclerView example
I'm happy to submit a PR

[2019-09-27 09:10] Unlimity commented on #99
@sebastienrouif thanks for reaching out!
If you're willing to submit an example, I think it's better to provide such use case as a separate example since this is not a common use case.

[2019-09-27 21:31] v-rodionov commented on #164
@Vacxe We replaced `TextInputEditText`to`AppCompatEditText`because our users have crash on meizu devices(https://issuetracker.google.com/issues/112105087).
The crash was fixed in new library version, but in alpha only(https://github.com/material-components/material-components-android/pull/358).

[2019-09-29 16:01] sebastienrouif opened #166 "Document access to root of viewHolder"
Accessing the root view of an item in a recyclerView is not straightforward and is not documented.
As said in #99 , create an example in the sample app to showcase how to access the root view.

[2019-09-29 16:44] sebastienrouif opened #168 "Add KSwitch"
Android [Switch](https://developer.android.com/reference/android/widget/Switch) definition :
`A Switch is a two-state toggle switch widget that can select between two options. The user may drag the "thumb" back and forth to choose the selected option, or simply tap to toggle as if it were a checkbox.`

Adding a KSwitch would allow developers to test both click and swipe gesture and make sure they

[2019-09-30 06:17] Unlimity commented on #168
Hi! Thanks for submitting the issue.
Can you please clarify what is the distinct difference and benefit to have `KSwitch` when we have `KCheckBox`?
Both `Switch` and `CheckBox` extend `CompoundButton` and implement `Checkable` interface. This is already supported within Kakao with `KCheckBox`.

[2019-09-30 08:51] sebastienrouif commented on #168
I guess this is more of a different mindset on how to approach the problem.
Accessing the View directly and changing it's checked state is not correct to me. The users can't do that through the UI. They can only do press/longPress/swipe/pinch ... A concrete example is to call `.setChecked(false)` on a disabled CheckBox and it will still change it's state, which should not be allowed.
To me `KCheck

[2019-09-30 09:23] Unlimity commented on #168
Seems like a strong point. @Vacxe what do you think? @sebastienrouif are you willing to contribute?

[2019-09-30 09:41] sebastienrouif commented on #168
@Unlimity , yes.
I don't want to remove `CheckableActions` as this is a strong point of view and some users of this library might be unhappy with this change.
Most of the work is already done, it would be about testing, documenting and polishing it (I'm not sure how we should support RTL):
[code]

[2019-10-01 05:03] #164 closed

[2019-10-01 08:28] lewiemortier commented on #163
Adding the parent to the view inside the recyclerview item did not work for me. The click is still happening on the middle of the viewholder instead of on the button which is displayed on the bottom right of the viewholder.

Obviously we don't want to pass any coordinates to the `click` method as those coordinates will differ depending on the device this test is running on

[2019-10-01 09:33] Unlimity commented on #163
Can you provide your layout then, please?
If espresso clicks at the center of the holder, it believes that the center of the button is at that point as well.

[2019-10-02 03:44] #166 closed

[2019-10-02 03:44] Vacxe commented on #166
Closed: #169

[2019-10-02 23:22] #168 closed

[2019-10-03 07:10] lewiemortier commented on #163
The provided layout looks like this

[code]

In the UI test we're trying to click on the `mroe` button.
We've temporarily worked around the issue by using the following code snippet:

[code]

[2019-10-04 04:18] Unlimity commented on #163
Hello again!
I don't see any obvious issue with your layout, but I suggest you to debug it with LayoutInspector and check the boundaries of your ImageView.
Your workaround just triggers the click callback and do not simulate the real click from user.

[2019-10-04 16:55] anton46 commented on #163
@lewiemortier seems like the middle layout blocking the click event
[code]
If you see the `id` of `android:layout_toStartOf="@id/ib_more"` different to the `more` button id which should be `android:id="@+id/more"`. I dont know if this would work but I think worth to try.

[2019-10-10 12:41] plnice opened #178 "Question: same class to be used with or without RecyclerView"
In my project I have a collection of reusable custom views and I want to prepare a library of Kakao views for them. Each of the custom views can be used within any ViewGroup, or within RecyclerView. For now for each of the views I prepare two separate classes for that two use cases:
[code]
Is there a way to have one class only, instead of two?

[2019-10-11 09:01] Unlimity commented on #178
There is no direct necessity for that.
You can extend `KRecyclerItem`, since basically it duplicates the functionality of `KBaseView`, but replaces constructor to the parent matcher.
So what you need to do, is to provide additional constructors to your class, that will accept the DSL.

[2019-10-14 12:26] plnice commented on #178
OK, what should I pass to the super constructor invocation in such case?
[code]

[2019-10-14 15:15] tdekoning opened #179 "hasDrawable doesn't work when ImageView has android:tint"
#### Steps to reproduce:

  1. Create a layout with an
[code]
  2. Create a test that uses `hasDrawable(R.drawable.my_icon)`

#### Observed Results:

The method `hasDrawable` does not see the drawables as equal

#### Expected Results:

I expected the drawables to be equal, or provide a way to add the expected tint with the `hasDrawable` call

#### Possible workaround:
If i would comment out lines

[2019-10-15 04:14] Unlimity commented on #179
Hi there! Thanks for reaching out.
Unfortunately, we do not support tinting matching at the moment. But you can submit a PR and extend the functionality of `DrawableMatcher` by checking if the target view has tint and applying it to the canvas that is being asserted.

[2019-10-15 04:15] Unlimity commented on #178
`super(Matchers.any()) {`

[2019-10-15 06:31] tdekoning commented on #179
Thanks for the tip, i'll see what i can do!

[2019-10-16 05:57] Vacxe commented on #179
@tdekoning I think that this improvement can help you. Also, thank for let us know about this lack!

Cheers!

[2019-10-18 12:26] tdekoning commented on #179
@Vacxe Thanks for the change and the quick response!

[2019-10-21 06:54] tdekoning commented on #179
@Vacxe I've tried to test the code from your pull request, but it doesn't seem to work.
In my case i'm setting the `android:tint` and the (vector) drawable using `android:src`. The call `bitmap.sameAs(otherBitmap)` returns false and if i inspect the generated bitmaps, they aren't the same. It looks like an anti-alias or scaling issue.

I've tried to fix the issue myself, but i guess i do not under

[2019-10-23 12:14] Vacxe commented on #179
@tdekoning sure, I'll try

[2019-10-24 01:53] Vacxe commented on #179
@tdekoning BTW, does it work without tint? Just wanna find any clue.

[2019-10-24 18:48] michaelbukachi commented on #118
I'd like to pick up on this issue.

[2019-10-31 10:18] kyodgorbek commented on #163
Guys, I am developing news and I have used recyclerview  on Bindviewholder when user clicks item I am starting new activity using intent how can I test that intent using kakao

below my testing class
lass ScreenA : Screen<ScreenA>() {

    val recycler by lazy {
        KRecyclerView({
            this.withId(R.id.recycler_View)
        }, {
            itemType(::ViewHolder)
        })
    }

[2019-11-01 06:01] lucas34 opened #183 "Support GridLayout"
I'm changing one component from RecyclerView to GridLayout. This critical component have lot of UI Test using kakao. However I don't see the equivalent of GridLayout for Kakao.

[2019-11-01 06:25] Vacxe commented on #183
That's really strange. Cause view matching doesn't related on layout adapters.

Could you provide more information please?

[2019-11-01 08:57] dannysuen commented on #183
@Vacxe I think he meant how to interact with **GridLayout**, does Kakao have a **KGridLayout** kind of support.

[2019-11-01 09:02] iamthevoid opened #184 "RecyclerView AmbiguousViewMatcherException with ONE SINGLE MATCH 0_o"
#### Steps to reproduce:

I have object like

     object CatalogItemsScreen : Screen<CatalogItemsScreen>() {

        val recycler = KRecyclerView(
            builder = { withId(R.id.recyclerView) },
            itemTypeBuilder = { itemType(::Item) }
        )

        class Item(parent: Matcher<View>) : KRecyclerItem<Item>(parent) {
            val clickable = KView {
                withParent

[2019-11-01 10:36] Unlimity commented on #184
Hi there!
You should pass the parent matcher of your RecyclerView's item as an argument of a constructor:
[code]

[2019-11-01 10:38] iamthevoid commented on #184
Did it:

    object CatalogItemsScreen : Screen<CatalogItemsScreen>() {

        val recycler = KRecyclerView(
            builder = { withId(R.id.recyclerView) },
            itemTypeBuilder = { itemType(::Item) }
        )

        class Item(parent: Matcher<View>) : KRecyclerItem<Item>(parent) {
            val clickable = KView(parent) { withId(R.id.clickableView) }
        }
    }

but error

[2019-11-03 22:48] Vacxe commented on #183
@dannysuen Just I don't understand purposes for that. Interaction with `GridLayout` will be the same as `LinearLayout` and etc.

Or you wanna do the check in specific row and collum?

[2019-11-04 00:15] Vacxe commented on #184
@iamthevoid could you try to change `object` to `class`

[2019-11-04 00:17] Vacxe commented on #184
Or follow by guide
See: https://github.com/agoda-com/Kakao/blob/master/sample/src/androidTest/kotlin/com/agoda/sample/screen/TestListScreen.kt

[2019-11-04 02:17] lucas34 commented on #183
Yes correct, the behaviour now is quite similar as anything extending ViewGroup.
However I'm not very familiar with KaKao. And after removing the recycler view I don't understand how I can actually check the number of Childs (For example) on my layout.

[2019-11-05 05:38] Vacxe commented on #183
@lucas34 I'll look around for the investigation

[2019-11-05 06:19] iamthevoid commented on #184
Tried to use as 'class' same as 'KAbsListView' and got the same result. Seems rly strange to me, because screens without adapters works good.

May different adapter items types provoke this error? If answer is 'yes' - how can I resolve it?

[2019-11-05 07:49] Unlimity commented on #184
Usually, if you get `AmbiguousViewMatcherException` that means there is something wrong with the layout of the screen, not necessarily with Kakao itself. Kakao is a wrapper around Espresso, and to be sure that the issue is coming not from the library, you can reproduce it with direct espresso matching:

[code]

Most probable issues that I think might happen:
Issues with generated R file (in a mult

[2019-11-11 04:10] #118 closed

[2019-11-12 09:01] tdekoning commented on #179
@Vacxe is above enough information to trace the issue?

[2019-11-12 21:27] uziassantosferreira commented on #184
Hey @Unlimity I have the same problem with ViewPager, I have two fragment in viewpager and this fragments have a recyclerview with the same Id

[2019-11-12 22:56] Vacxe commented on #179
@tdekoning not yet. also with vector setup not sure that is possible. Let figure out how we can do it.

[2019-11-12 22:59] Vacxe commented on #184
@uziassantosferreira could you create PR with example in the sample app with reproducing the issue? That will probably help us a lot.

[2019-11-13 18:11] uziassantosferreira opened #188 "Support Toolbar"
Have any plans to add toolbar support?
Some think to has a title, subtitle click in the back button

[2019-11-13 23:32] Vacxe commented on #188
@uziassantosferreira Yep. Will do it on next release

[2019-11-15 04:04] Unlimity commented on #184
@uziassantosferreira right now `KViewPager` do not have the api to match exact page (but maybe we will add it somewhere in the future), but you still can match the recycler view with `withIndex()` matcher. Basically, if you need the recycler on the second page, you match it with `withIndex(1)` and so on.
But keep in mind that `withIndex()` matcher is one-time use per instance, so your recycler vie

[2019-11-21 13:57] letroll opened #190 "recyclerview documentation not updated"
#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened?  This could be a description, log output, etc.

#### Expected Results:

  * What did you expect to happen?

#### Relevant Code:

[code]

[2019-11-21 14:55] #190 closed

[2019-12-17 15:28] plnice opened #193 "Intercepting screen state?"
Hi,
we want to set up a screen interceptor which would be fired when screen becomes active - only once, before running the function passed to `onScreen` method. In our case the interceptor is heavy and time-consuming and we don't need to invoke it on each check/perform. Would there be a possibility to add such a functionality/would you accept a pull request with such functionality? The other optio

[2019-12-18 03:34] Unlimity commented on #193
Hi there! Thanks for the question.
Generally, you can easily make your own extension function with your interceptor inside.
Something like this:
[code]

[2019-12-18 03:35] Unlimity commented on #184
Closing this issue due to no activity

[2019-12-18 03:35] #184 closed

[2019-12-18 03:36] Unlimity commented on #163
Closing this issue due to no activity

[2019-12-18 03:36] #163 closed

[2019-12-18 03:36] Unlimity commented on #178
Closing this issue due to no activity

[2019-12-18 03:36] #178 closed

[2019-12-18 09:26] plnice commented on #193
Yes, but this solution has two drawbacks:
1. Requires using different method than `onScreen` provided by the library - if somebody uses `onScreen` by mistake, she won't get any warning or compilation error and our interceptor won't be called
1. The method is separated from the implementation of the screen. In our case we need to add different interceptor per screen, which would result in many `onI

[2019-12-18 10:31] Unlimity commented on #193
In that case you should just define another interceptor holder:
[code]
You are welcome to submit a PR with such implementation 👍

[2019-12-18 15:21] michaelbukachi opened #194 "Support ChipGroup"
Are there any plans to add ChipGroup support?
Some methods that can be added for interaction are:
[code]
And some for assertions:
[code]

I am willing to work on this and submit a pull request.

[2019-12-19 04:05] Unlimity commented on #194
Hi there! Thanks for reaching out.
Right now we don't have any plans to support that view, since we don't have a lot of time actually. But you're more than welcome to submit a PR with support of chips.
I believe we already import material design library, so it should be relatively easy to implement.

[2020-01-02 14:03] StanlyT opened #196 "Error performing 'load adapter data'"
Hello guys,
I try to interact with HorizontalGridView's list. All its items contain identical views and strings.
so, i try to click on HorizontalGridView's item at first position.
![15-34-30](https://user-images.githubusercontent.com/26867741/71670425-6dd19a80-2d78-11ea-8695-0b86ea449b5c.png)

I declared `devicesList` and `ListItem`:
[code]
I get `PerformException: Error performing 'load adapter d

[2020-01-03 09:51] Unlimity commented on #196
Hi there!
Actually, the error message tells you that it can't find a list view adapter at a view with id `R.id.row_content`
So it seems there is no adapter in the view espresso matched during runtime.
Please make sure that you have your adapter set up before espresso accesses it and that the matcher provided in the builder actually matches your GridView.
Cheers!

[2020-01-03 11:01] StanlyT commented on #196
Thanks! And how about the ListItem, was it declacred correctly?

[2020-01-03 11:01] StanlyT commented on #196
Thanks! And how about the ListItem, was it declacred correctly?

[2020-01-05 15:11] Unlimity commented on #196
I revised your layout again and I see small issue: you don't need `withDescendant` declaration if you're matching a text view. Passing parent's data interaction to the KView constructor will limit the matcher to the needed root view of a list item. In the builder, you can directly look for your text view:
[code]

[2020-01-09 10:04] Unlimity commented on #196
Closing this issue. If you still have this issue @StanlyT please feel free to reopen.

[2020-01-09 10:04] #196 closed

[2020-01-09 10:04] Unlimity commented on #194
Feature has been merged. Closing this issue.

[2020-01-09 10:04] #194 closed

[2020-01-17 07:12] StanlyT opened #197 "How to get item by index from some views' list in VerticalGridView?"
I have VerticalGridView that contains the list of noId ConstraintLayouts. Every ConstraintLayout is  clickable but its content is not. I need to click on some constrainLayout by list index. Is it possible with Kakao methods?
![image](https://user-images.githubusercontent.com/26867741/72591652-60d0b180-3909-11ea-8d7c-27f98872ae4c.png)

Thanks a lot!

[2020-01-17 10:56] Unlimity commented on #197
Hi there!
Well, your GridView is derived form RecyclerView, right?
That means, that you can use `KRecyclerView` to access items.
When you define an item class for `KRecyclerView` you have to specify constructor with argument of type `Matcher`. That matcher is matching to root view of the item. In that case you can use this matcher to access the root view itself:
[code]
Cheers!

[2020-01-17 13:39] StanlyT commented on #197
Thanks a lot!

[2020-01-17 13:39] #197 closed

[2020-01-17 14:54] StanlyT opened #198 "None of the following functions can be called with containsText()"
Hey there, guys!
Please tell me, how to check a substring here:
[code]
I get an exception:
[code]

[2020-01-20 01:09] Vacxe commented on #198
Firstly try to define a value with
```val text = getResourceString(R.string.title).substringBefore("%")```

After that u can try to call
[code]

It does not make sense to call ```containsText``` inside of ```withText```

Cheers

[2020-01-21 04:21] Unlimity commented on #198
Hi!
You should not use `withText` matcher here in your case.
`withText` is matcher that matches view with *EXACT* text provided.
As far as I understand, what you need is:
[code]

[2020-01-21 10:34] StanlyT commented on #198
Great! Thank you very much!

[2020-01-21 10:34] #198 closed

[2020-01-30 14:01] yapkolotilov opened #199 "Take a look at IndexMatcher fix."
Hi, guys!

We found issue in your framework that IndexMatcher can't be used more than once. We use this reusable version in our company. Check it out and maybe put it in your library.

[code]

With best regards,

Yaroslav.

[2020-01-31 03:54] Unlimity commented on #199
Hi!
Actually, it's not a bug, it's a design flaw :)
But your solution looks like an interesting hack. What will happen if I, let's say change the screen, so the views will change, but I will reuse this matcher?
Anyway, you're more than welcome to submit a PR 👍

[2020-01-31 07:44] yapkolotilov commented on #199
Espresso scans view tree on each interaction, so, if we change screen, it will keep working but with some views from previous Activity/Fragment remembered.
If there is another matching view on the other screen, then 'seen' set will be cleared. We're testing app with multiple fragments and similar views, and we haven't met any problems with this implementation yet.

[2020-02-04 00:26] #199 closed

[2020-02-04 00:27] Vacxe commented on #199
@yapkolotilov TY for the contribution mate!

[2020-02-09 05:50] anticafe opened #201 "Add support for ViewPager2"
It would be nice to have support for [ViewPager2](https://developer.android.com/jetpack/androidx/releases/viewpager2). I think because we've already have support for ViewPager, thus ViewPager2 would not take much time.

How do you think about it?

[2020-02-10 02:43] Vacxe commented on #201
@anticafe I'll do it ASAP

[2020-02-12 10:40] Kotlinpin opened #202 "If RecyclerView item has some text then do action"
Hey guys!
help me please to resolve next question using Kakao methods:
I have a recyclerView of buttons' list:
[code]
The third button sometimes might have different string titles depending on app codition and i need to press on that third button when it has a string "delete". How to do that correctly?
I resolved this problem in the following way
[code]
and then using that boolean i perform action

[2020-02-12 13:40] Unlimity commented on #202
Hi there!
Generally, this is not how a UI test, and to that end, any test, should be designed and executed.
It is expected that with the same environment and same user actions you are getting the same response/result. So in that perspective nor Espresso nor Kakao was designed to do state-based actions/assertions. I suggest you revisit your approaches to test design.
However, your solution seems th

[2020-02-12 13:42] Kotlinpin commented on #202
Thanks, Ilya!

[2020-02-12 13:42] #202 closed

[2020-02-18 03:57] #201 closed

[2020-02-18 04:07] Vacxe commented on #201
@anticafe we will prepare release on this week

[2020-03-17 10:45] Kotlinpin opened #206 "AssertionFailedError on handling RecyclerView's Item. Problem with 'Expected' and 'Got'"
Hey!
Help me please how to figure out next error:
    I described a recyclerView and its item:
[code]
i try to check  whether item has a text:
[code]
i get an AssertionFailedError:
[code]
I do not understand why do i get TextView...

[2020-03-19 03:51] Unlimity commented on #206
Hi! As I see, it matches the item correctly, however I suspect that there are problems with text matching. It might be that there may problems with encoding, or it might be possible that `"Joker"` is not escaping `"` symbols in the expected value.

[2020-03-20 08:31] Kotlinpin commented on #206
I see, thank you

[2020-03-20 08:31] #206 closed

[2020-04-24 00:48] hram opened #207 "Tap spinner by text"
Hi
Can you please help me.
How can I do tap on spinner item with specific text.
Spiner has emptyChildAt function. But in my case I need something like that emptyChildWithText()

[2020-04-24 03:35] Unlimity commented on #207
Hey there! You can use Kakao's default list interaction API:
[code]
Hope that helps.

[2020-04-30 17:25] uziasferreirazup commented on #188
<3

[2020-05-01 03:43] Unlimity commented on #207
Closing this issue due to no response

[2020-05-01 03:43] #207 closed

[2020-05-01 03:43] Unlimity commented on #188
The feature has been merged and released. Closing this issue.

[2020-05-01 03:43] #188 closed

[2020-05-07 05:51] albertlouisong opened #209 "NestedScrollView not supported by ScrollTo ViewAction"
#### Steps to reproduce:

  1. Create a layout with a nested scroll view
  2. Create a test that calls `scrollTo` on a view within that layout

#### Observed Results:

  * Error is thrown that the scrollTo action failed
`androidx.test.espresso.PerformException: Error performing 'scroll to' on view '(with id: [view id])'.`

#### Expected Results:

  * UI test scrolls to the relevant view

#### Poss

[2020-05-07 10:02] Unlimity commented on #209
Hi there! Thank you for raising this problem.
I'll see what I can do to improve.

[2020-05-07 10:59] #209 closed

[2020-05-12 16:06] letroll opened #214 "[Question] how to do action on compound customview child ?"
Hello,

In my projet I have a custom view with an EditText child.
This custom view have a method setEditTextValue(text:String).

How to make a test where we use it to input text ?

I had tried with this code :

[code]

[2020-05-12 17:19] letroll commented on #214
resolved by using same principle than KTextInputLayout.kt :

'''
class KClearableEditText : KBaseView<KView>, BaseAssertions,TextViewActions,EditableActions {
    val edit: KEditText

    constructor(function: ViewBuilder.() -> Unit) : super(function) {
        edit = getkEditText(function)
    }

    constructor(parent: Matcher<View>, function: ViewBuilder.() -> Unit) : super(parent, function) {

[2020-05-12 17:19] #214 closed

[2020-05-16 22:29] nick0602 opened #216 "ActionBar - Support homeAsUpIndicator"
Hi, I've been using Kakao for a few weeks now and I noticed that recently you added ActionBar support (#188). However, I saw that currently there's no support to match the up indicator drawable.

At my company, in our current UI tests we're basically declaring two different `KView`s as a workaround, a `KToolbar` and a `KImageView` for the up indicator button:
[code]

and then perform the checks wi

[2020-05-18 04:57] Unlimity commented on #216
Hey there! Thank you for raising this issue and reaching out.
I think you solution works fine, with one exception: instead of making nullable builder for up indicator, it's better to have default value and avoid nullables at all.
I personally like the direction you're taking with solving this issue, but let's also see what @Vacxe is thinking.

[2020-05-18 07:13] nick0602 commented on #216
Hey, thanks for the feedback!

I thought about the non-nullability of `navigationIcon`, but at first I had one huge doubt regarding it: since we have to pass a `contentDescription` it's not as "strong" (or reliable) as using ids, mainly because the default `contentDescription` might not be `Navigate up`. I checked by changing language and it depends on phone locale, for example in Italian it's `To

[2020-05-19 00:55] Vacxe commented on #216
@nick0602 Thanks for rising a ticket!
@Unlimity Ill check it in couple hours.

Probably if  navi buttons can be matched by `KImageView { withContentDescription("Navigate up") }` we can decalare internal variable inside `KToolBar` for avoinig matching delegate in `KToolBar` constructor

[2020-05-19 02:45] nick0602 commented on #216
@Vacxe If you wanna take a look last night I tried `withContentDescription` with the appcompat string on another branch removing its nullability: https://github.com/agoda-com/Kakao/compare/master...nick0602:feature/toolbar-navigation-button.

As for the `KImageView` yeah, I did declare it in the interface but it can be moved down to `KToolbar` directly and `ToolbarViewAssertions` only have the con

[2020-05-19 05:15] hram commented on #216
Please check solution on different languages? I think it will work only with English locale.

[2020-05-19 05:28] nick0602 commented on #216
@hram `androidx.appcompat.R.string.abc_action_bar_up_description` is a localized string with translations, I tested w/ italian (`Torna indietro`) and spanish (`Navegar hacia arriba`) and it works,

I checked in debug while running tests as well and watching
[code]

I get a different translated string based on the locale.

[2020-05-19 05:38] hram commented on #216
@nick0602 I mean that you can't use "Navigate up" in solution. This will work only in English locale.

[2020-05-20 19:15] #183 closed

[2020-05-28 10:38] igorwojda opened #217 "Add TextInputLayoutAssertions.hasHint(@StringRes resId: Int)"
Now in `TextInputLayoutAssertions` we only have a way to verity hint by using string
`fun hasHint(hint: String)`

It would be nice to also have a way to use resource (to match `TextViewAssertions` class)
`hasHint(@StringRes resId: Int)`

[2020-05-28 10:53] igorwojda commented on #217
For now I have solved this problem using extension function and helper function
[code]

[2020-05-28 11:04] igorwojda commented on #217
Workaround
[code]

[2020-05-28 11:33] Unlimity commented on #217
Hey there! Thanks for reaching out!
That proposal sounds valid and useful, and I encourage you to submit a PR 👍

[2020-05-28 13:08] igorwojda commented on #217
1. PR https://github.com/agoda-com/Kakao/pull/218

2. `CONTRIBUTING.md` file is a bit incomplete
points 1-3 are fine, but
- pkt. 4 talks about running tests without any guides how to do so (command would be nice - just `./gradlew test` ?)
- pkt. 5 talks about running code coverage without any guides how to do so (AS build in? cmd?)
- pkt. 7 Running `git ls-files -z | while IFS= read -rd '' f; do t

[2020-05-29 04:16] Unlimity commented on #217
It seems that we need to revise contribution instructions 👍

[2020-05-29 18:30] nick0602 commented on #216
Hey @Vacxe, did you get a chance to take a look at this? 😃

[2020-06-03 00:36] Vacxe commented on #216
@nick0602 sorry about that, just I a bit overloaded for this time. I will look ASAP.

[2020-06-04 05:49] Vacxe commented on #217
Close: #219

[2020-06-04 06:31] Vacxe commented on #216
@nick0602 @hram @Unlimity
Close: #220

[2020-06-05 06:32] #216 closed

[2020-06-11 04:50] Unlimity commented on #217
PR with this feature has been merged

[2020-06-11 04:50] #217 closed

[2020-06-25 07:12] StanlyT opened #224 "isDescendantOfA{ } and withMatcher(isDescendantOfA( )) not the same?"
Hey guys!
I have to get KTextView which is located in focused ancestor. I've written next method:
[code]
and here i get such exception:
[code]

However next implementation works clear:
[code]
Why is it happening?
Are there any differences between
[code]
and
[code]

[2020-06-25 10:49] Unlimity commented on #224
Hi there and thanks for reaching out!
`isDescendantOfA {}` in Kakao's `ViewBuilder` takes lambda with receiver of another `ViewBuilder` as argument, so inside of this lambda you need to match the descendant view with Kakao's functions.
You are free to use the actual `ViewMatchers.isDescendantOfA()` from Espresso through `withMatcher()` function of Kakao.

[2020-06-25 10:52] Unlimity commented on #224
In your case when you call your function that returns `Matcher<View>` inside of Kakao's `isDescendantOfA {}` lambda it literally does nothing. If you have custom matcher it should look like that:
[code]

[2020-06-25 10:53] #224 closed

[2020-06-30 12:27] OliverCulleyDeLange opened #225 "Misleading readme?"
#### Steps to reproduce:

  1. Read the [readme ](https://github.com/agoda-com/Kakao#create-kview)- See that ` val phone = KView { withId(R.id.phone) }` is declared as a KView
  2. Read further down in the [readme](https://github.com/agoda-com/Kakao#write-the-interaction) - See that `phone {
       hasText("971201771")
    }` uses the `hasText()` matcher

  3. Try it yourself, and wonder why hasTe

[2020-06-30 23:56] Vacxe commented on #225
Please use `KTextView` instead of `KView`

[2020-07-02 04:59] #225 closed

[2020-07-02 05:00] Unlimity commented on #225
Thank you for noticing and letting us know! The fix is merged now.

[2020-07-15 18:44] Roelan opened #227 "AmbiguousViewMatcherException with recycler views"
#### Steps to reproduce:

On the ViewPager I have three RecyclerViews and when I just try to check "rvAppsList.isVisible()" test failed and shows an error:
androidx.test.espresso.AmbiguousViewMatcherException: '(with id: com.malwarebytes.antimalware.cloud:id/rvAppsList)' matches multiple views in the hierarchy.
Problem views are marked with '****MATCHES****' below.

Create a recycler view:
[code]

[2020-07-16 02:25] Unlimity commented on #227
Hi and thanks for reaching out.
Although, the recycler views in your `ViewPager` are not displayed, pager works in a fashion that keeps at least 3 pages active, which means the non-displayed recyclers are present within the view hierarchy, thus the ambiguous match exception. The easiest thing to do is to match the actively displayed recycler in your case:
[code]
I hope that helps 👍

[2020-07-16 08:31] Roelan commented on #227
Yes! Thanks a lot!!
isCompletelyDisplayed() completely solved my problem.

[2020-07-16 08:32] #227 closed

[2020-07-20 10:37] lucas34 opened #228 "Lot of UI Test fail after upgrading to 2.3.3"
#### Steps to reproduce:

I recently tried to update from 2.3.0 to 2.3.3

I have lot of UI Test failing. All are linked to image assertion. The changelog doesn't mention any change related to image validation. Any insight on how to fix my tests ?

[code]

[2020-07-21 02:49] Unlimity commented on #228
@Vacxe can you please take a look?

[2020-07-21 03:08] Vacxe commented on #228
Yea. Let me check whats going wrong

[2020-07-27 01:58] lucas34 commented on #228
Any idea ?

[2020-07-27 06:05] Unlimity commented on #228
@lucas34 there has been changes made by @Vacxe to how the library handles drawable assertions and that is likely the case. While Konstantin is trying to figure out any issues with the code itself it would be helpful if you could provide a code of the failing tests, the image view parameters (xml args or in-code setup) that you are asserting as well as drawable resource itself.

[2020-07-27 08:47] Vacxe commented on #228
@lucas34 looks like that you have issue with `hasDrawable(<RES ID>)` function. Actually this method is covered by test in `AlertDialogTest` and `DrawableListTest`. Could u please provide additional information or if it possible provide sample of evil resource.

[2020-07-27 11:38] Vacxe commented on #228
@lucas34 looks like issue based on tinting. That's actually is a real tricky issue because assertion based on bitmap evaluation. Ill figure out what we can to do.

[2020-07-29 07:49] lucas34 commented on #228
Fix in 2.3.4

[2020-07-29 07:49] #228 closed

[2020-08-06 00:49] Vacxe commented on #179
@tdekoning should be fixed. Could u test it or we can close ticket?

[2020-08-06 11:40] tdekoning commented on #179
@Vacxe thanks!
We will test this next week, i will get back to you to report the results

[2020-08-21 05:14] lucas34 opened #232 "Issue with hasDrawable when ImageView is using scaleType"
#### Steps to reproduce:

  1. Use latest Kakao library
  2. Create ImageView and set android:scaleType="fitXY"
  3. Try to match the drawable using hasDrawable()

#### Observed Results:

Test fail. Drawable are different.

#### Expected Results:

Not sure if in this case the test should actually pass, because if you are using scaleType=crop the final image will indeed be different from the origin

[2020-08-24 08:15] Unlimity commented on #232
@lucas34 are you providing resource id to the `hasDrawable()` assertion or some custom bitmap? If the latter is correct, then you need to provide pixel perfect matching bitmap to the bitmap being output to the user in ImageView, otherwise it will not match. In case of drawable resource id all internal alterations should be repeated by Kakao before matching bitmaps.

[2020-08-24 10:33] lucas34 commented on #232
@Unlimity
I'm providing all the images with
[code]

[2020-08-25 02:00] Vacxe commented on #232
@lucas34 I tried to replicate same issue on API 25 and looks like it works. But on 28+ it failed. Could u please represent issue with PR sample. It definitely help us to understand your case and move forward quickly.

[2020-08-28 16:10] Nikola-Milovic opened #236 "RecyclerView inside RecyclerView items, cannot get it to be recognized"
A question, I have a setup of a food menu, with menu items, that furthermore contain additional items for price options
/ Menu fragment with menuRecycleView-> Menu Item with optionsRecycleView ->  Option Item

[code]

And when I try to use it here
[code]

I've tried several setups, looked through some older issues and commits, but unfortunately my knowledge is limited and I've exhausted the change

[2020-09-03 14:38] StanlyT opened #237 "Does hasDrawable method work for AppCompatImageView?"
Hello, guys!

I try to check AppCompatImageView with method hasDrawable().

[code]
However i get next error:
[code]
Can you tell me please what's wrong with it?

[2020-09-09 00:09] Vacxe commented on #237
@StanlyT could u send the `.xml` configuration and API of emulator please?
We have similar issue if `android:scaleType=` has been set. Does it is your case?

[2020-09-22 16:25] AndreySBer opened #238 "Upgrade Espresso version to 3.3.0"
#### Steps to reproduce:
I have struggled with binary incompatibility of Espresso's RecyclerViewActions because of version in Kakao (3.1.1) used less then in Kaspresso library and in my project (3.3.0).

I'm going to suggest a pull request with upgraded version.
#### Observed Results:

During test execution:
[code]

#### Expected Results:

Avoiding versions conflict.

#### Relevant Code:

[code]

[2020-09-23 09:39] Unlimity commented on #238
Hello and thanks for contribution!
If upgrading espresso version breaks it's behavior I suggest to resolve the issue in your PR or wait until we will have time to upgrade and fix the issue.
Cheers!

[2020-09-23 12:04] AndreySBer commented on #238
@Unlimity Please have a look at #239 PR
Or I didn't catch which one issue in the PR should I resolve for it was accepted?

[2020-09-23 16:05] Unlimity commented on #238
@AndreySBer
[code]
I thought this exception is risen when update is introduced. Did you mean that the version update solves this issue for you?

[2020-09-25 06:02] Unlimity commented on #238
PR is merged. Everything seems fine. Thanks!

[2020-09-25 06:02] #238 closed

[2020-09-25 06:03] Unlimity commented on #237
Closing this issue due to no activity. You can reopen it if the issue is not solved.

[2020-09-25 06:03] #237 closed

[2020-09-25 06:06] Unlimity commented on #193
Closing this issue due to no activity. You can reopen issue if it is not solved yet.

[2020-09-25 06:06] #193 closed

[2020-09-25 06:42] Vacxe commented on #179
@tdekoning can I close the ticket?

[2020-09-25 13:26] tdekoning commented on #179
Sure, close it 👍

[2020-09-28 00:05] #179 closed

[2020-10-20 15:32] lucas34 commented on #183
Yes we have our own implementation of KGridLayout

[2020-10-20 16:22] Elvina-G commented on #183
how did you write your KGridLayout?

[2020-10-20 23:10] Vacxe commented on #183
@lucas34 u always able to create a PR

[2020-10-28 07:25] osiris86 opened #243 "Optional View Elements"
In my test class I have multiple tests. For the first test I have to skip the onboarding of my app. So in the setup section of my test class I have a `Screen<OnboardingScreen>` with a `KViewPager` that is selected via the `withResourceName` ViewMatcher.

All tests in the test class except the first one now fail because the onboarding has already been skipped. So what I'd like to do in the setup se

[2020-10-29 04:49] Vacxe commented on #243
I think you have a wrong vision on UI testing.

1) All test should be run independently or with random sequences with same expected results

---

A clear way how to solve this issue:
1) Use test runner which will be responsible for *clear run* every time
2) If you want to skip on-boarding screen you need to inject or pre setup some data before test will be executed. Look at `TestRule`

[2020-11-02 09:38] osiris86 commented on #243
Hmm... I was sure UI tests need to work in the way you describe, what I don't get is why espresso isn't clearing the app state (i.e. the entire app data) between each test then. There is the _clearPackageData_ argument for the _testInstrumentationRunner_, but that only clears the data after each test class and not after every test. imho that doesn't make sense if  "All test should be run independe

[2020-11-02 09:38] #243 closed

[2020-12-02 23:06] Vacxe opened #244 "Android Compose support"

[2021-02-03 22:06] steffandroid opened #248 "Migrate away from JCenter"
[JFrog](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) has just announced that it will be shutting down JCenter on May 1st. JCenter is the sole repository hosting this library, so it will become unavailable after this date unless migrated to an alternative service.

[2021-02-07 04:47] Vacxe commented on #248
@steffandroid Thanks for reporting. We have a plan migrate this library to must popular artifacts storage. No worries.

[2021-02-07 16:32] steffandroid commented on #248
Excellent! Thanks for the update.

[2021-02-11 13:09] ussernamenikita opened #249 "DrawableMatcher fails in 2.3.4"
Fails withDrawable

Reproduced in https://github.com/ussernamenikita/DrawableBug with test ExampleInstrumentedTest.myTest
Test passed in 2.2.0 but fails in 2.3.4 and 2.4.0

I figured out what it because of mutabe() function on Drawabe inside DrawableMatcher. But i don't know why it's behave like that.

`E/TestRunner: androidx.test.espresso.NoMatchingViewException: No views in hierarchy found match

[2021-02-11 13:32] ussernamenikita commented on #249
I checked on API 28

[2021-02-12 02:48] Vacxe commented on #249
@ussernamenikita could u create a PR with issue reproduction. It can significantly help us to fix of localise issue ASAP. Also could you provide `.xml` and test class. Cheers!

[2021-02-13 07:59] ussernamenikita commented on #249
Sure, no problem. Do you have an example how i can do this ? I mean where in your project i should place issue reproduction ? Is sample folder suitable place for my code ?

[2021-02-13 19:18] ussernamenikita commented on #249
Reproduced in https://github.com/agoda-com/Kakao/pull/250. DrawableMatcherIssueTest fails but it should. Interestingly that DrawableListTest doesn't fail with my drawable. Maybe bug depends on view description in xml.

[2021-02-14 12:27] Vacxe commented on #249
Ill take a look

[2021-02-18 09:58] szykam opened #253 "Scroll to RecyclerView element that part can be off screen"
Imagine that you have a RecyclerView that accommodates item that can be large (in height) eg. 10 lines on TextView + Button, and also buttons can be distinguish by index so 1st one has text `Button 0`, 10th `Button 9`, and so on.
So if I want to click on the 10th button I'm able to scroll to 10th item in RecyclerView but button remains off screen and cannot be clicked. Library gives possibility to

[2021-02-18 23:54] Vacxe commented on #253
I tried to reproduce this case with `sample` app and can't see any issue.
If it possible could you modify for example `MultiTypeRecyclerTest` class to represent your issue?  It will definitely help us to recognise a tricky bug.

[2021-02-26 01:48] gildor commented on #248
Any updates on this?

[2021-02-26 10:10] Unlimity commented on #248
We're still in the process of getting access to company's account on maven central

[2021-02-28 09:11] Vacxe commented on #248
@gildor hopefully we can smoothly migrate to Maven Central in next couple weeks and prepare a new release.

[2021-03-17 18:39] tonyshkurenko commented on #244
Hi, is there any planned work on this?

[2021-03-17 22:03] Vacxe commented on #244
Yes we have a plans, but after migration on Maven Central

[2021-03-18 09:15] MongolianSpy opened #257 "Impossible to check if KAlertDialog isn't on the screen"
# Bug report

## Describe the bug

When using KAlertDialog it's impossible to check if alert is absent on the screen as  the class looks for root elements that are dialogs.

## To Reproduce

**Steps to reproduce the behavior:**

1. Create an instance of KAlertDialog on the screen.
2. Address the instance in the test to check if alert is absent on the screen using either doesNotExist()or any suitab

[2021-03-18 12:20] Vacxe commented on #257
@MongolianSpy could you please create PR with reproducing issue on `sample` application? It can help us to recognize a problem.

[2021-03-31 10:59] MongolianSpy commented on #257
@Vacxe You can have a closer look with this test com.iteo.androidcleanuitests.AlertTest#check_alert_does_not_exist
https://github.com/MongolianSpy/AndroidCleanUITests

[2021-03-31 22:23] Vacxe commented on #257
Sure

[2021-04-07 13:20] dsuresh-ap opened #258 "Checking MenuItems"
# Feature request

Create a `KBaseView` that can perform actions on Toolbar menu items.
## Type

- [X] - Enhancement - completely new feature
- [ ] - Improvement - make what we have better

## Is your feature request related to a problem?

No this would be a new feature unless it is already implemented. If so I do not see any reference in the docs.

## Describe the solution you'd like

A class suc

[2021-04-26 06:24] antonbatishchev commented on #248
@steffandroid Hi! Following versions are now available in Central.
We are also working on CICD migration in order to release 2.4.1. to Central. thanks @Vacxe for help :)

2.4.0
2.3.4
2.2.0
2.1.0
2.1.0-support
1.4.0-androidx

[2021-05-07 13:18] pavel-vasilev opened #261 "DrawableMatcher getDrawable from resource"
Hi, there are multiple methods to get drawable from resId:
- `resources.getDrawable`
- `ContextCompat.getDrawable`
- `AppCompatResources.getDrawable`

Is there any reason why u are using `ContextCompat.getDrawable` in your library instead of `AppCompatResources.getDrawable`?

If you not enable `vectorDrawables.useSupportLibrary` in build.gradle, those two methods return BitmapDrawable, after enabl

[2021-05-25 13:26] Vacxe commented on #248
Repository has been migrated to https://github.com/KakaoAndroid/Kakao

[2021-05-25 13:26] #248 closed

[2021-05-25 13:26] #144 closed

[2021-05-25 13:26] #147 closed

[2021-05-25 13:26] #232 closed

[2021-05-25 13:26] #236 closed

[2021-05-25 13:26] #253 closed